table {
    display: inline-block;
    border-collapse: collapse;
    table-layout: fixed;
}
table > tr > th:nth-child(2n), table > tr > td:nth-child(2n) {
    background-color: beige;
}
table > tr > th:nth-child(2n+1), table > tr > td:nth-child(2n+1) {
    background-color: bisque;
}
table > tr:last-child > td {
    border-top: 2px solid black;
    background-color: azure;
}
table > tr:last-child > td > * {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}