/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@angular/material/theming' as mat;

// https://stackoverflow.com/questions/63078996/angular-material-10-how-to-use-primary-accent-warn-colors-in-my-own-styles
// https: //github.com/angular/components/blob/main/guides/theming.md


/* Material */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.span-rows > span {
    display: block;
}

/* From example application */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 1em;
    width: 1em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading-indicator::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
